.library {
    position: fixed;
    box-shadow: 0 0 50px $basic-lightgreen;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    overflow: scroll;
    color: $basic-white;
    background-color: $basic-background;
    // transform: translateX(-100%);
    transition: all 0.5s ease;
    // opacity: 0;

    h2 {
        padding: 2rem;
    }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;

    img {
        width: 30%;
    }

    &:hover {
        background: $library-hover;
    }

    h4 {
        color: $basic-lightgreen;
    }
}

.song-description {
    padding-left: 1rem;

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.7rem;
    }
}

/* The emerging W3C standard
     that is currently Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-color transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 20px;
    border: transparent;
}

.selected {
    background: $selected-color;
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}