.song-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $basic-white;

    img {
        width: 20%;
        border-radius: 50%;
        transition: all 2s ease;

        box-shadow:
            inset 0 0 70px $basic-lightgreen,
            0 0 30px $basic-lightgreen;
    }

    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }
    
    h3 {
        color: $basic-lightgreen;
        font-size: 1rem;
        font-weight: lighter;
    }
}

@media screen and (max-width: 768px) {
    .song-container {
        img {
            width: 60%;
        }
    }
}