// COLORS VARIABLES

$basic-background: #050611;
$basic-lightgreen: #44e0dd;
$basic-white: #fff;
$scrollbar-color: #14eeea;
$selected-color: #00333F;
$library-hover: #171824;

// MAX-WIDTH:
// Малые девайсы («ландшафтные телефоны», < 576px)
$media-breakpoint-xs: 576px;
// Средние девайсы («таблетки», < 768px)
$media-breakpoint-sm: 768px;
// Большие девайсы (десктопы, < 992px)
$media-breakpoint-md: 992px;
// Экстрабольшие девайсы (большие десктопы, < 1200px)
$media-breakpoint-lg: 1200px;
