@import "./variables";
@import "./player";
@import "./song";
@import "./library";
@import "./nav";

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $basic-background;
    font-family: "Lato", sans-serif;
}

.particles {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}